body{
    background-color: orange;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 3px solid black;
}
.grid-item{
    display: inline-block;
    width: 25%;
    padding: 2.5rem;
    margin: 2.5rem;
    border: 2px solid black;
}

.grid-item:hover{
    box-shadow: 60px -16px teal;
}

.grid-item h3{
    text-align: left;
    padding: .25rem;
    /* color: black; */
}